<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  {% include head-custom.html %}
</head>

<body>
  <style>
    .navbar {
      display: flex;
      justify-content: space-around;
    }
    .navbar a {
        color: #267CB9;
        text-decoration: none;
        padding: 50px 5px;
        font-size: 1.5em;
    }
  </style>

  <div class="wrapper">
    <header>
      {% if site.logo %}
      <a href="{{ "/" | absolute_url }}">
        <img src="{{site.logo | relative_url}}" alt="Avatar" class="avatar" width="90%"/>
      </a></br>
      {% endif %}

      </br>
      <a href="{{ "/" | absolute_url }}">
        <span class="title-name">{{ site.title | default: site.github.repository_name }}</span>
      </a></br>
      <p>
      <span class="subtitle">{{ site.description | default: site.github.project_tagline }}</span>
      </p>
      <p>
      <span class="inline-icon material-icons">location_on</span>  Madrid, Spain</br>
      <span class="inline-icon material-icons">school</span>  PhD in Computer Science and Telecommunications</br>
      <span class="inline-icon material-icons">work</span>  AI Specialist at EVO Banco</br>
      </p>

      <a href="http://github.com/dbenitog">
        <img src="https://img.shields.io/badge/GitHub-dbenitog-GitHub?style=flat&logo=github&color=blue
        ">
      </a></br>

      <a href="https://linkedin.com/in/dbenitog">
        <img src="https://img.shields.io/badge/LinkedIn-Connect-blue">
      </a></br>
    </header>
    
    <section>
      <div class="navbar">
        <a href="/">Home</a>
        <a href="/cv">CV</a>
        <a href="/thesis">Thesis</a>
        <a href="/pub">Publications</a>
      </div>
      {{ content }}

    </section>
    <footer>
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
      </p>
    </footer>
  </div>
  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>

</html>